---
#---------------------------------------------------#
# 配置文件需要放置在 $HOME/.config/clash/config.yml
# https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/GeneralClashConfig.yml
# 或者运行目录下的config.yml
#---------------------------------------------------#
# 混合端口 HTTP和SOCKS5用一个端口
mixed-port: 7890

# HTTP 代理端口
# port: 7890

# SOCKS5 代理端口
socks-port: 7891

# Linux 和 macOS 的 redir 代理端口 (如需使用此功能，请取消注释)
redir-port: 7892

# 允许局域网的连接（可用来共享代理）
allow-lan: true

# 仅在将allow-lan设置为true时适用
# #"*": 绑定所有IP地址
# #192.168.122.11: 绑定单个IPv4地址
# #"[aaaa::a8aa:ff:fe09:57d8]": 绑定单个IPv6地址
bind-address: "*"
ipv6: true

# 规则模式：rule（规则） / global（全局代理）/ direct（全局直连）/ script (脚本)
# mode: rule

# 设置日志输出级别 (默认级别：silent，即不输出任何内容，以避免因日志内容过大而导致程序内存溢出）。
# 5 个级别：silent / error / warning / info / debug。级别越高日志输出量越大，越倾向于调试，若需要请自行开启。
log-level: info

# Clash 的 RESTful API
external-controller: "0.0.0.0:9090"

# 您可以将静态网页资源（如 clash-dashboard）放置在一个目录中，clash 将会服务于 `RESTful API/ui`
# 参数应填写配置目录的相对路径或绝对路径。
# http://127.0.0.1:9090/ui/#/
# external-ui: folder
# yacd面板：  https://github.com/haishanh/yacd
# Razord面板：http://clash.razord.top/#/proxies
# external-ui: dashboard

# RESTful API 的口令 (可选)
secret: "morfans"

# DNS 解析配置，决定了域名解析方式和缓存策略
dns:
  enable: true # 启用 DNS 功能
  ipv6: true
  listen: 0.0.0.0:1053 # 监听地址和端口
  prefer-h3: true # 如果DNS服务器支持DoH3会优先使用h3，提升性能
  respect-rules: true # 让 DNS 解析遵循 Clash 的路由规则
  enhanced-mode: fake-ip # 设置增强模式为 fake-ip 模式，提高解析速度和连接性能
  cache-algorithm: arc # 使用性能更优的 ARC 缓存算法
  cache-size: 2048 # 限制缓存大小，避免占用过多内存
  use-hosts: false # 使用hosts
  use-system-hosts: false # 使用系统hosts
  fake-ip-range: 28.0.0.1/8 # copy 虚空终端懒人配置里的
  fake-ip-filter: # fake ip 白名单列表，如果你不知道这个参数的作用，请勿修改
    - "geosite:private"
    - "geosite:connectivity-check"
    # === Apple Software Update Service ===
    - "swscan.apple.com"
    - "mesu.apple.com"
    # === NTP Service ===
    - "time.*.com"
    - "time.*.gov"
    - "time.*.edu.cn"
    - "time.*.apple.com"
    - "time1.*.com"
    - "time2.*.com"
    - "time3.*.com"
    - "time4.*.com"
    - "time5.*.com"
    - "time6.*.com"
    - "time7.*.com"

    - "ntp.*.com"
    - "ntp.*.com"
    - "ntp1.*.com"
    - "ntp2.*.com"
    - "ntp3.*.com"
    - "ntp4.*.com"
    - "ntp5.*.com"
    - "ntp6.*.com"
    - "ntp7.*.com"

    - "*.time.edu.cn"
    - "*.ntp.org.cn"
    - "+.pool.ntp.org"

    - "time1.cloud.tencent.com"
    # === Music Service ===
    ## NetEase
    - "+.music.163.com"
    - "*.126.net"
    ## Baidu
    - "musicapi.taihe.com"
    - "music.taihe.com"
    ## Kugou
    - "songsearch.kugou.com"
    - "trackercdn.kugou.com"
    ## Kuwo
    - "*.kuwo.cn"
    ## JOOX
    - "api-jooxtt.sanook.com"
    - "api.joox.com"
    - "joox.com"
    ## QQ
    - "+.y.qq.com"
    - "+.music.tc.qq.com"
    - "aqqmusic.tc.qq.com"
    - "+.stream.qqmusic.qq.com"
    ## Xiami
    - "*.xiami.com"
    ## Migu
    - "+.music.migu.cn"
    # === Game Service ===
    ## Nintendo Switch
    - "+.srv.nintendo.net"
    ## Sony PlayStation
    - "+.stun.playstation.net"
    ## Microsoft Xbox
    - "xbox.*.microsoft.com"
    - "+.xboxlive.com"
    # === Other ===
    ## QQ Quick Login
    - "localhost.ptlogin2.qq.com"
    ## Golang
    - "proxy.golang.org"
    ## STUN Server
    - "stun.*.*"
    - "stun.*.*.*"
  nameserver: # 默认 DNS，供所有请求使用，支持 DoH3 的在前面
    - https://1.1.1.1/dns-query # Cloudflare（支持 H3）
    - https://dns.google/dns-query # Google（支持 H3）
    - https://dns.alidns.com/dns-query # 阿里（国内稳定）
    - https://doh.pub/dns-query # 腾讯 (境内，DoH，可作为备选)
  fallback: # 后备域名解析服务器，一般情况下使用境外 DNS, 保证结果可信
    - tls://8.8.4.4
    - tls://1.1.1.1
    - https://cloudflare-dns.com/dns-query
    - https://dns.google/dns-query
    - 1.1.1.1
    - 8.8.8.8
  fallback-filter:
    geoip: true # 默认
    geoip-code: CN # 除了 geoip-code 配置的国家 IP, 其他的 IP 结果会被视为污染
    geosite: # geosite 列表的内容被视为已污染，匹配到 geosite 的域名，将只使用 fallback解析
      - gfw
    domain: # 这些域名被视为已污染，匹配到这些域名，会直接使用 fallback解析，不去使用 nameserver
      - "+.google.com"
      - "+.facebook.com"
      - "+.youtube.com"
    ipcidr: # 在这个网段内的 IP 地址会被考虑为被污染的 IP
      - 240.0.0.0/4
  # 默认 DNS, 用于解析 DNS 服务器 的域名
  default-nameserver:
    - 223.5.5.5 # 阿里（国内）
    - 119.29.29.29 # 腾讯（国内）
    - system # 系统 DNS (保留以防万一)
  # 专用于节点域名解析的 DNS 服务器，非必要配置项，如果不填则遵循nameserver-policy、nameserver和fallback的配置
  proxy-server-nameserver:
    - https://1.1.1.1/dns-query # Cloudflare，DoH3
    - https://dns.google/dns-query # Google，DoH3
    - 1.1.1.1
    - 8.8.8.8
  # 指定域名查询的解析服务器，可使用 geosite, 优先于 nameserver/fallback 查询
  nameserver-policy:
    "geosite:cn,private":
      - https://doh.pub/dns-query
      - https://dns.alidns.com/dns-query
    "geosite:category-ads-all": rcode://success
    "geo:cn": # 也可以用 geo:cn 匹配 IP
      - https://223.5.5.5/dns-query
    # "geosite:geolocation-!cn":
    #   - "https://dns.cloudflare.com/dns-query#dns"
    #   - "https://dns.google/dns-query#dns"

# 1. clash DNS 请求逻辑：
#   (1) 当访问一个域名时， nameserver 与 fallback 列表内的所有服务器并发请求，得到域名对应的 IP 地址。
#   (2) clash 将选取 nameserver 列表内，解析最快的结果。
#   (3) 若解析结果中，IP 地址属于 国外，那么 clash 将选择 fallback 列表内，解析最快的结果。
#
#   因此，我在 nameserver 和 fallback 内都放置了无污染、解析速度较快的国内 DNS 服务器，以达到最快的解析速度。
#   但是 fallback 列表内服务器会用在解析境外网站，为了结果绝对无污染，我仅保留了支持 DoT/DoH 的两个服务器。
#
# 2. clash DNS 配置注意事项：
#   (1) 如果您为了确保 DNS 解析结果无污染，请仅保留列表内以 tls:// 或 https:// 开头的 DNS 服务器，但是通常对于国内域名没有必要。
#   (2) 如果您不在乎可能解析到污染的结果，更加追求速度。请将 nameserver 列表的服务器插入至 fallback 列表内，并移除重复项。
#
# 3. 关于 DNS over HTTPS (DoH) 和 DNS over TLS (DoT) 的选择：
#   对于两项技术双方各执一词，而且会无休止的争论，各有利弊。各位请根据具体需求自行选择，但是配置文件内默认启用 DoT，因为目前国内没有封锁或管制。
#   DoH: 以 https:// 开头的 DNS 服务器。拥有更好的伪装性，且几乎不可能被运营商或网络管理封锁，但查询效率和安全性可能略低。
#   DoT: 以 tls:// 开头的 DNS 服务器。拥有更高的安全性和查询效率，但端口有可能被管制或封锁。
#   若要了解更多关于 DoH/DoT 相关技术，请自行查阅规范文档。

# 代理组
# 下面这3个不要引到订阅里去 要不会出错
# Will be ignored after profile selection
#proxies:
#  - name: Shadowsocks
#    type: socks5
#    server: 127.0.0.1
#    port: 1080
#proxy-groups:
#  - name: Proxy
#    type: select
#    proxies:
#      - Shadowsocks
#rules:
#  - 'MATCH,DIRECT'

tun:
  enable: true
  # tun 模式堆栈,如无使用问题,建议使用 system 栈;MacOS 用户推荐 gvisor 栈
  stack: mixed # mixed/gvisor/system
  dns-hijack:
    - "any:53" # dns 劫持,一般设置为 any:53 即可, 即劫持所有 53 端口的 udp 流量
  mtu: 1500 # 减少 MTU 问题，如网页无法打开、测速慢
  gso: true # 启用通用分段卸载（提升性能），仅支持 Linux
  gso-max-size: 65536 # 数据块的最大长度
  udp-timeout: 300 # UDP 会话保持时间
  # MacOS 无法自动劫持发往局域网的 dns 请求
  # Android 如开启 私人dns 则无法自动劫持 dns 请求
  # linux 如果 systemd-resolved 开启无法自动劫持 dns 请求
  # - 222.246.129.80
  # - 1.0.0.1:53
  # - 198.18.0.2:53 # when `fake-ip-range` is 198.18.0.1/16, should hijack 198.18.0.2:53
  auto-route: true # 配置路由表,自动设置全局路由,可以自动将全局流量路由进入 tun 网卡。
  auto-redirect: true # 自动配置 iptables 以重定向 TCP 连接。仅支持 Linux。带有 auto-redirect 的 auto-route 现在可以在路由器上按预期工作，无需干预。
  auto-detect-interface: true # 自动选择流量出口接口,多出口网卡同时连接的设备建议手动指定出口网卡

# 虚空终端
## TCP并发
tcp-concurrent: true
unified-delay: false

## GEO数据模式
geodata-mode: true
geo-auto-update: true # 是否自动更新 geodata
geo-update-interval: 24 # 更新间隔，单位：小时
## 自定 GEO 下载地址
geox-url:
  geoip: "https://fastly.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geoip.dat"
  geosite: "https://fastly.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geosite.dat"
  mmdb: "https://fastly.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/country.mmdb"

#  find-process-mode has 3 values:always, strict, off
#  - always, 开启，强制匹配所有进程
#  - strict, 默认，由 mihomo 判断是否开启
#  - off, 不匹配进程，推荐在路由器上使用此模式
find-process-mode: strict
## 按 Cloudflare Radar 数据按概率生成一个现代浏览器指纹。
### 全局 TLS 指纹，优先低于 proxy 内的 client-fingerprint。
global-client-fingerprint: random

# 缓存
profile:
  store-selected: true
  # 储存 API 对策略组的选择，以供下次启动时使用
  store-fake-ip: true
  # 储存 fakeip 映射表，域名再次发生连接时，使用原有映射地址

## 域名嗅探
sniffer:
  enable: false
  force-dns-mapping: true
  parse-pure-ip: true
  override-destination: false
  sniff:
    HTTP:
      ports: [80, 8080-8880]
      override-destination: true
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443]
  force-domain:
    - +.v2ex.com
  skip-domain:
    - "Mijia Cloud"
    - "+.push.apple.com"
